# Ignora arquivos de dados na contagem de linguagens
*.csv linguist-vendored

# Ignora HTML gerado na contagem de linguagens
*.html linguist-generated

# FORÇA o R Markdown a ser contado como Linguagem R
*.Rmd linguist-language=R
